In [1]:
import pandas as pd  
import numpy as np

In [2]:
df_result = pd.read_csv("remarks.csv")
df_result.head()

,brdg_appt_consult_id,combined_diagnosis,COMPLAINT,DIAGNOSIS,INVESTIGATION,PROCEDURE,DRUGS
0,1,"na,na,na",NaN,NaN,NaN,NaN,NaN
1,2,"na,na,na",NaN,NaN,NaN,NaN,NaN
2,3,"na,salt restricted diet,hypertension",NaN,HTN,NaN,NaN,NaN
3,4,"na,na,na",NaN,NaN,NaN,NaN,NaN
4,5,"na,na,pityriasis roseacicatricial alopecia",NaN,pityriasis,NaN,NaN,NaN

In [3]:
df_complain_list = pd.read_csv("complaints_list.csv")
df_complain_list.head(20)

                          Words                         Label status
0             _ myoclonic jerks                     myoclonus    NaN
1                _ pedal oedema       edema of foot (finding)    NaN
2      abd breathing difficulty                       dyspnea    NaN
3           abd burning burning             burning sensation    NaN
4                       abdomen                           NaN    NaN
5        abdomen abdominal pain                abdominal pain    NaN
6                 abdomen acute                         acute    NaN
7         abdomen bloated liver            abdominal bloating    NaN
8              abdomen bloating            abdominal bloating    NaN
9         abdomen bloating last            abdominal bloating    NaN
10          abdomen bloating nf            abdominal bloating    NaN
11        abdomen bloating pain            abdominal bloating    NaN
12        abdomen bloating post            abdominal bloating    NaN
13    abdomen bloating stinging            abdominal bloating    NaN
14            abdomen body pain                abdominal pain    NaN
15       abdomen breathlessness                       dyspnea    NaN
16    abdomen burning sensation  burning sensation in abdomen    NaN
17  abdomen difficulty sleeping            sleep disturbances    NaN
18           abdomen discomfort          abdominal discomfort    NaN
19     abdomen discomfort lower          lower abdominal pain    NaN

In [4]:
df_complain_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10730 entries, 0 to 10729
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Words   10729 non-null  object
 1   Label   10106 non-null  object
 2   status  89 non-null     object
dtypes: object(3)
memory usage: 251.6+ KB

In [5]:
df_complain_list.fillna("NaN", inplace=True)

In [6]:
print("Unique complains in the complain list: ", len(set(df_complain_list['Label'].values)) - 1)

Unique complains in the complain list:  1154

In [7]:
df_result.fillna("NaN", inplace=True)

In [8]:
print("Found unique complain in the input file: ", len(set(df_result['DIAGNOSIS'].values)) - 1)

Found unique complain in the input file:  289

In [9]:
df_complain_list['Label'] = df_complain_list['Label'].apply(lambda x: x.lower())
df_complain_list['Label'].head(10)

0                  myoclonus
1    edema of foot (finding)
2                    dyspnea
3          burning sensation
4                        nan
5             abdominal pain
6                      acute
7         abdominal bloating
8         abdominal bloating
9         abdominal bloating
Name: Label, dtype: object

In [10]:
df_result['DIAGNOSIS'] = df_result['DIAGNOSIS'].apply(lambda x: x.lower())
df_result['COMPLAINT'] = df_result['COMPLAINT'].apply(lambda x: x.lower())

df_result['DIAGNOSIS'].head(10)

0           nan
1           nan
2           htn
3           nan
4    pityriasis
5           htn
6           nan
7           nan
8          lrti
9           nan
Name: DIAGNOSIS, dtype: object

In [11]:
df_result['COMPLAINT'].head()

0    nan
1    nan
2    nan
3    nan
4    nan
Name: COMPLAINT, dtype: object

In [12]:
df_result["DIAGNOSIS"] = df_result["DIAGNOSIS"].str.split(",")
df_result = df_result.explode("DIAGNOSIS")

df_result["COMPLAINT"] = df_result["COMPLAINT"].str.split(",")
df_result = df_result.explode("COMPLAINT")
df_result.head(10)

,brdg_appt_consult_id,combined_diagnosis,COMPLAINT,DIAGNOSIS,INVESTIGATION,PROCEDURE,DRUGS
0,1,"na,na,na",nan,nan,NaN,NaN,NaN
1,2,"na,na,na",nan,nan,NaN,NaN,NaN
2,3,"na,salt restricted diet,hypertension",nan,htn,NaN,NaN,NaN
3,4,"na,na,na",nan,nan,NaN,NaN,NaN
4,5,"na,na,pityriasis roseacicatricial alopecia",nan,pityriasis,NaN,NaN,NaN
5,6,"increased blood pressure,exercise regularlydri...",nan,htn,blood pressure,NaN,NaN
6,7,"na,na,na",nan,nan,NaN,NaN,NaN
7,8,"na,na,na",nan,nan,NaN,NaN,NaN
8,9,"coughcold fever,na,lrti",fever,lrti,NaN,NaN,NaN
9,10,"na,na,na",nan,nan,NaN,NaN,NaN

In [13]:
df_result.to_csv("exploded_result.csv", index=False)

In [14]:
diagnosis_list = pd.read_csv("diagnosis_list.csv")
diagnosis_list.head(20)

df_req = diagnosis_list.append(df_complain_list)
df_req.drop("status", axis=1, inplace=True)

df_req = df_req[df_req['Label'].isna() == False]
df_req = df_req[df_req['Words'].isna() == False]
df_req = df_req.drop_duplicates()

## Removing duplicated words
df_req = df_req[df_req["Words"].duplicated() == False]
df_req['Label'] = df_req['Label'].apply(lambda x: x.lower())

df_giri = pd.read_csv("Copy of drug_master2.csv")
df_giri.columns = ["Words", "Label"]


df_req = df_req.append(df_giri)
df_req = df_req[df_req['Label'].isna() == False]
df_req = df_req[df_req['Words'].isna() == False]
df_req = df_req.drop_duplicates()
df_req["Label"] = df_req["Label"].apply(lambda x: x.lower())

df_req.to_csv("full_complain_list.csv", index=False)

### Loading req data

In [16]:
import pandas as pd

df_req = pd.read_csv("full_complain_list.csv")

In [17]:
df_result = pd.read_csv("exploded_result.csv")

In [18]:
brdg = pd.read_csv("dt.csv")

In [19]:
df_result.rename(columns={'brdg_appt_consult_id':'brdg_appt_conslt_sid'}, inplace=True)

In [20]:
cols = ["brdg_appt_conslt_sid", "DIAGNOSIS", "COMPLAINT"]

df_result = df_result[cols]

In [21]:
df_result.columns = ['brdg_appt_conslt_sid', 'mapped_DIAGNOSIS', 'mapped_COMPLAINT']

In [22]:
brdg.merge(df_result, on="brdg_appt_conslt_sid", how="left").to_csv("merged_csv_complain_v2.csv", index=False)

df_final = pd.read_csv("merged_csv_complain_v2.csv")

In [23]:
df_final.drop_duplicates(inplace=True)

In [24]:
df_final.replace("nan", "").fillna(" ").to_csv("merged_csv_complain_v3.csv", index=False)

In [25]:
df_final[df_final.duplicated() == True]

Empty DataFrame
Columns: [brdg_appt_conslt_sid, appointment_id, consultation_id, appointment_dt_sid, appointment_datetime, appointment_status, appointment_type, svaas_appointment_id, vendor_sid, doctor_id, doctor_sid, patient_id, patient_sid, policy_id, policy_sid, insurance_partner_sid, insurance_company_name, prescription, cancellation_reason, next_visit, clinic_id, complaints, diagnosis, advice, bp_dia, bp_sys, pulse, weight, height, bmi, row_insert_dt, row_update_dt, consultation_doc_ref, mapped_DIAGNOSIS, mapped_COMPLAINT]
Index: []

[0 rows x 35 columns]

In [26]:
df_final = pd.read_csv("merged_csv_complain_v3.csv")
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5352 entries, 0 to 5351
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   brdg_appt_conslt_sid    5352 non-null   int64
 1   appointment_id          5352 non-null   int64
 2   consultation_id         5352 non-null   int64
 3   appointment_dt_sid      5352 non-null   int64
 4   appointment_datetime    5352 non-null   object
 5   appointment_status      5352 non-null   object
 6   appointment_type        5352 non-null   object
 7   svaas_appointment_id    5352 non-null   object
 8   vendor_sid              5352 non-null   int64
 9   doctor_id               5352 non-null   int64
 10  doctor_sid              5352 non-null   int64
 11  patient_id              5352 non-null   int64
 12  patient_sid             5352 non-null   int64
 13  policy_id               5352 non-null   object
 14  policy_sid              5352 non-null   object
 15  insurance_partner_sid   5352 non-null   int64
 16  insurance_company_name  5352 non-null   object
 17  prescription            5352 non-null   object
 18  cancellation_reason     5352 non-null   object
 19  next_visit              5352 non-null   object
 20  clinic_id               5352 non-null   int64
 21  complaints              5352 non-null   object
 22  diagnosis               5352 non-null   object
 23  advice                  5352 non-null   object
 24  bp_dia                  5352 non-null   object
 25  bp_sys                  5352 non-null   object
 26  pulse                   5352 non-null   object
 27  weight                  5352 non-null   object
 28  height                  5352 non-null   object
 29  bmi                     5352 non-null   object
 30  row_insert_dt           5352 non-null   object
 31  row_update_dt           5352 non-null   object
 32  consultation_doc_ref    5352 non-null   object
 33  mapped_DIAGNOSIS        5352 non-null   object
 34  mapped_COMPLAINT        5352 non-null   object
dtypes: int64(11), object(24)
memory usage: 1.4+ MB

Mergning on the same mapped_DIAGNOSIS and Words values from the final data frame and full complain list values.

In [27]:
df_final_req = df_final.merge(df_req, left_on=["mapped_DIAGNOSIS"], right_on=["Words"], how="left")
df_final_req.rename(columns={'Label': 'final_diagnosis'}, inplace=True)

In [28]:
df_final_req = df_final_req.merge(df_req,  left_on=["mapped_COMPLAINT"], right_on=["Words"], how="left")
df_final_req.rename(columns={'Label': 'final_complain'}, inplace=True)

In [29]:
df_final_req.drop(['Words_x', 'Words_y'], axis=1, inplace=True)

In [30]:
df_final_req

,brdg_appt_conslt_sid,appointment_id,consultation_id,appointment_dt_sid,appointment_datetime,appointment_status,appointment_type,svaas_appointment_id,vendor_sid,doctor_id,...,weight,height,bmi,row_insert_dt,row_update_dt,consultation_doc_ref,mapped_DIAGNOSIS,mapped_COMPLAINT,final_diagnosis,final_complain
0,1,2253,-1,20220208,2/8/2022 19:45,cancelled,InPerson,D-HX0802-1146-4247758236,1239,584,...,,,,9/7/2022 14:30,9/7/2022 14:30,,,,NaN,NaN
1,2,4551,-1,20220816,8/16/2022 10:10,declined,OnlineConsultation,D-HX1608-0942-2283404928,1790,1233,...,,,,9/7/2022 14:30,9/7/2022 14:30,,,,NaN,NaN
2,3,3731,899,20220525,5/25/2022 19:00,completed,OnlineConsultation,D-HX2505-1302-3731620448,726,1247,...,,,,9/7/2022 14:30,9/7/2022 14:30,1653486348_pdf_Psn4t6MIZJAFW3uYoR7e.pdf,htn,,hypertension,NaN
3,4,2241,-1,20220207,2/7/2022 18:00,completed,InPerson,D-HX0702-1021-6989648006,849,1107,...,,,,9/7/2022 14:30,9/7/2022 14:30,,,,NaN,NaN
4,5,2586,591,20220307,3/7/2022 17:30,completed,InPerson,D-HX0703-0956-1922150952,1838,645,...,,,,9/7/2022 14:30,9/7/2022 14:30,1646656625_pdf_t9oIOr8FNXGkmLnE245S.pdf,pityriasis,,pityriasis,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5820,5709,4338,1166,20220910,9/10/2022 10:10,completed,OnlineConsultation,D-HX0809-1325-9539375460,1835,1160,...,,,,9/9/2022 0:22,9/11/2022 0:20,1662785068_pdf_8kiHTNzZAJeIOq2KFaom.pdf,covid 19,giddiness,NaN,giddiness
5821,5741,5038,1534,20220910,9/10/2022 20:00,completed,InPerson,D-HX0909-1943-6666039780,849,1107,...,83.4,,,9/10/2022 0:19,9/11/2022 0:20,1662819082_pdf_1C06I7rATJBgveShd5YO.pdf,,,NaN,NaN
5822,5748,5107,-1,20220915,9/15/2022 13:00,booked,InPerson,D-HX1409-2105-1944886023,557,23011,...,,,,9/15/2022 0:17,9/15/2022 0:17,,,,NaN,NaN
5823,5801,5064,-1,20220912,9/12/2022 20:00,no_show,InPerson,D-HX1209-1045-9588349493,1719,881,...,,,,9/13/2022 0:19,9/13/2022 0:19,,,,NaN,NaN
5824,5861,5104,1563,20220914,9/14/2022 19:20,completed,InPerson,D-HX1409-1825-4753880778,2067,853,...,,,,9/15/2022 0:17,9/15/2022 0:17,1663165898_pdf_9AKvNEyDCQm5cRgauGwo.pdf,,,NaN,NaN

In [54]:
## taking mapped diagnosis values where Label or diagnosis is not available

unmapped_diags = df_final_req[df_final_req["final_diagnosis"].isna() == True]["mapped_DIAGNOSIS"].value_counts().reset_index()
unmapped_diags.columns = ["diagnosis", "count"]
unmapped_diags[unmapped_diags["diagnosis"] != " "].to_csv("for_doctor_mapping.csv", index=False)

In [58]:
## taking mapped diagnosis values where Label or diagnosis is not available

## taking mapped diagnosis values where Label or diagnosis is not available

unmapped_complain = df_final_req[df_final_req["final_complain"].isna() == True]["mapped_COMPLAINT"].value_counts().reset_index()
unmapped_complain.columns = ["complain", "count"]
unmapped_complain[unmapped_complain["complain"] != " "].to_csv("for_doctor_mapping_complain.csv", index=False)

In [59]:
unmapped_complain

                complain  count
0                          4446
1           asymptomatic     83
2             vaccinated     29
3             complaints     22
4         hours of sleep     19
..                   ...    ...
71      low back ache of      1
72              negative      1
73  musculoskeletal pain      1
74               gravida      1
75              detected      1

[76 rows x 2 columns]

In [60]:
unmapped_diags

             diagnosis  count
0                        4280
1             covid 19    224
2                drink     98
3                 oral     28
4               trauma      8
..                 ...    ...
79         callosities      1
80  acne vulgaris with      1
81               wound      1
82  recurrent cystitis      1
83           rubella 2      1

[84 rows x 2 columns]

In [65]:
df_req = df_req[df_req.isna() == False]

In [67]:
df_req.drop_duplicates(inplace=True)

In [69]:
df_req.to_csv("full_complain_list.csv", index=False)